<%= form_for MCategory.find(params[:id]), :url => {:controller => 'm_category', :action => 'update',  :method => 'post'} do |f| %>
<%= f.label :title%>
<%= f.text_field :title, class: 'form-control', placeholder: '' %>
<%= f.label :body %>
<%= f.text_area :body, rows: 4, class: 'form-control', placeholder: "Enter post body" %>

       <div class="form-group">
         <%= f.label :avatar %>
         <%= f.file_field :avatar %>
         <%= f.hidden_field :avatar_cache %>
       </div>



<%= f.submit "Save", class: 'btn btn-success' %>

<%end%>