<h1>Create New Categroy</h1>

<br>
<%= form_for MCategory.new, :url => {:controller => 'm_category', :action => 'create',  :method => 'post'} do |f|%>
<br><%= f.label :title%>
<br><%= f.text_field :title, class: 'form-control', placeholder: "Enter A Title" %>
<%= f.label :body %>
<%= f.text_area :body, rows: 5, class: 'form-control', placeholder: "Enter description" %>

        <div class="form-group">
         <%= f.label :avatar %>
         <%= f.file_field :avatar %>
         <%= f.hidden_field :avatar_cache %>
       </div>




<%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>
