<% @MCategory = MainCategory.where(id: params[:id]) %>
<% @MCategory.each do |this|%>
<h3><%= link_to this.title, edit_main_category_path(params[:id])%></h3>
<p><%= this.body%></p>
  <% this.main_category_pics.each do |pic|%>
      <%= link_to edit_main_category_main_category_pic_path(params[:id], pic.id) do %>
        <img src="<%= pic.pic_url.url%>" style='height:100px; width:100px; margin-right:30px;'>
    <%end%>
  <%end%>
<%end%>

<br><br><button><%= link_to "Edit Category", edit_main_category_path(params[:id]) %></button>