<div class="col-1 seebox"></div> 
<div class="col-10 seebox">
  

  
<h1>seeds creator</h1>
 <% MainCategory.all.each do |category|%>

  <%= "cat#{category.id}x"%> =  MainCategory.new(title: "<%=category.title%>", body: "<%=category.body%>", template: <%= category.template%>) <br><br>
  <hr>
      <%category.main_category_pics.each do |pic|%>
        <%= "cat#{category.id}x"%>.main_category_pics.build(pic_url:"<%=pic.pic_url.url%>", name: "<%= pic.name%>", urlseed: "<%= (pic.pic_url.url == "") | (pic.pic_url.url == nil) ? pic.urlseed : pic.pic_url%>")<br>
         
      <%end%>
  <hr>
      <%category.items.each do |item|%>
     <%="cat#{category.id}x"%>.items.build(title:"<%=item.title%>", name: "<%= item.name%>", body: "<%= item.body%>", price: <%= item.price%>, active: <%= item.active%> )<br>
                <%item.item_pics.each do |ipic|%>
                        <%= ipic.id%><br>
                <%end%>
         
      <%end%>  
  <hr>
  
  
  
  <%= "cat#{category.id}x"%>.save!<br>
 
  <p>=====================================</p>
<br>
<%end%> 

</div>
<div class="col-1 seebox"></div> 

