
 

<%= form_for OrderCheckout.new, :url => {:controller => 'order_checkouts', :action => 'create',  :method => 'post'} do |f| %>


<h3>Shipping Adress</h3>
  
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, placeholder: current_order.order_checkouts.last.first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name , placeholder: current_order.order_checkouts.last.last_name %>
  </p>

 <p>
    <%= f.label :email %><br />
    <%= f.text_field :email , placeholder: current_order.order_checkouts.last.email %>
  </p>

 <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone , placeholder: current_order.order_checkouts.last.phone %>
  </p>

 <p>
    <%= f.label :adress %><br />
    <%= f.text_field :adress , placeholder: current_order.order_checkouts.last.adress %>
  </p>

 <p>
    <%= f.label :city %><br />
    <%= f.text_field :city , placeholder: current_order.order_checkouts.last.city %>
  </p>

 <p>
    <%= f.label :state %><br />
    <%= f.text_field :state , placeholder: current_order.order_checkouts.last.state %>
  </p>

 <p>
    <%= f.label :zip %><br />
    <%= f.number_field :zip , placeholder: current_order.order_checkouts.last.zip %>
  </p>





<h3>Billing adress</h3>
 <p>
    <%= f.label :bill_name %><br />
    <%= f.text_field :bill_name , placeholder: current_order.order_checkouts.last.bill_name %>
  </p>
 <p>
    <%= f.label :bill_adress %><br />
    <%= f.text_field :bill_adress , placeholder: current_order.order_checkouts.last.bill_adress %>
  </p>

 <p>
    <%= f.label :bill_city %><br />
    <%= f.text_field :bill_city , placeholder: current_order.order_checkouts.last.bill_city %>
  </p>

 <p>
    <%= f.label :bill_state %><br />
    <%= f.text_field :bill_state , placeholder: current_order.order_checkouts.last.bill_state %>
  </p>

 <p>
    <%= f.label :bill_zip %><br />
    <%= f.number_field :bill_zip , placeholder: current_order.order_checkouts.last.bill_zip %>
  </p>

  <p>
    <%= f.label :card_type %><br />
    <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
  </p>
  <p>
    <%= f.label :card_number %><br />
    <%= f.text_field :card_number %>
  </p>
  <p>
    <%= f.label :card_verification, "Card Verification Value (CVV)" %><br />
    <%= f.text_field :card_verification %>
  </p>
  <p>
    <%= f.label :card_expires_on %><br />
    <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
  </p>

<h4>special instuctions if any</h4>
 <p>
    <%= f.label :instructions %><br />
    <%= f.text_area :instructions, rows: 5  %>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>
<br>




