<%if $admin%>
<style>
table, th, tr, td { border:solid 1px;}
</style>
    <!-- clear zone3 -->
<div class="col-m-12 col-12 seebox removempb" style="" style="border:2px solid red;">
           <!--   left-side space -->
          <div class="col-1 seebox"></div>
  
          <!--   center-div -->
          <div class="col-10 seebox">

                    <h2>purchases.html.erb</h2>
                    <% OrderCheckout.all.each do |this|%>
                        <% if this.purchased_at && !this.paid_shipped_n_done %>
                               
                                         
                                     <p><%= this.inspect %></p><br><br>
                                     <p>
                                        order_id: <%= this.Order_id %><br>
                                        first_name: <%= this.first_name %><br>
                                        last_name: <%= this.last_name %><br>
                                        address: <%= this.adress %><br>
                                        city: <%= this.city %><br>
                                     </p>
            
            
                                            <table style="width:100%;">
                                              <tr>
                                                <th colspan="3">Order Checkout</th>

                                              </tr>
                                              <tr>
                                                <th>key</th>
                                               <th>value</th>
                                              </tr>
                                              <% OrderCheckout.find(this.id).attributes.each do |j|%>
                                              <tr>
                                                <td><%=j[0]%></td>
                                                <td><%=j[1]%></td>

                                              </tr>
                                              <%end%>

                                            </table>
            
            
            
            
            
            
                                     
                                     
                                           
                                     <p><%= this.order_checkout_transactions.inspect%></p>
                                  
                                    <h4>items bought</h4>
                                         <%this.checkout_paid_items.each do |item|%>
                                             <p> <%= item.inspect%></p><br><br>
                                         <%end%>
                                  
                                    <br>
                                    <button><%= link_to "Done", [this], method: :put, remote: true %></button>

                                    <p>===============================================================================</p>
                                 </div>

                        <%end%>
  
                          <!--   loop ends -->
                    <%end%>

            </div>
  
            <!--   right-side space -->
            <div class="col-1 seebox"></div> 
</div> 
<%end%>